<?xml version="1.0" encoding="UTF-8"?>

<suite name="SwarmHRAutomation">

<listeners>

<listener  class-name="org.uncommons.reportng.HTMLReporter"/>
<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
<listener class-name="com.swarmhraut.listeners.CustomListeners"/>

</listeners>


  <test name="UserLoginTest">
    <classes>
      <class name="com.swarmhraut.testcases.LoginTest"/>
     
    </classes>
  </test> <!-- Test -->
   <test name="MyInfoTest">
    <classes>
      <class name="com.swarmhraut.testcases.MyInfo"/>
     
    </classes>
  </test> <!-- Test -->
 
</suite> <!-- Suite -->
